body{
	/*height: 0;
	width: 0;*/
	font-family: arial;
	position: absolute;
	/*top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;*/
}

button{
	cursor: pointer;
}

button:disabled{	
	cursor: default;
}

h1{
	margin-left: 43%;
	font-family: 'Handjet', cursive;
}

.flex{
	display: flex;
	justify-content: space-between;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 20px;
}

.button{
	color: black;
	background-color: black;
	padding: 15px;
	transition: 1s;
}

.button:active{
	background-color: gray;
	transition: 0s;
}

.red{
	color: red;
	background-color: red;
	transition: 1s;
}

.red:active{
	background-color: orange;
	transition: 0s;
}

.history{
	margin-left: 42%;
}

#time{
	margin-left: 10px;
}

#game_over {
    	margin-left: 42%;
}

#grid{
	display: grid;
	grid-template-columns: 40px 40px 40px;
	column-gap: 10px;
	row-gap: 10px;
	margin-left: 42%;
}

#inp_con{
	margin-left: 40.5%;
	margin-right: 28%;
}

#name{
	margin-top: 10px;
	margin-bottom: 10px;
}

#help_con{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

#help_container{
	position: absolute;
	background-color: red;
	width: 110px;
	height: 110px;
	left: 44%;
	top: 20%;
}

#help{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: white;
	left: 5px;
	top: 5px;
}

#unvisible{
	position: absolute;
	opacity: 0;
}

#close{
	position: absolute;
	top: 0px;
	right: 0px;
	color: red;
	background-color: transparent;
	border: none;
}
